.projects{
    min-height: 100vh;
    padding-top: 15vmax;
    background-color: slategray;
    display: inline-block;
}
.projects >h3{
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    background-color: purple;
    display: flex;
    border-radius: 100px;
    align-items: center;
    transform: translateY(-50%);
    left: 37%;
    padding: 2vmax 4vmax;
    
     
}
.projects >h4{
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    background-color: purple;
    display: flex;
    border-radius: 100px;
    align-items: center;
    transform: translateY(-50%);
    left: 37%;
    padding: 2vmax 4vmax;
    
     
}
.projects > h3 > svg{

transform: rotate(270deg);
margin-left: 1vmax;
}
.projectWrapper{
    border-top: 100px solid white;
    border-radius: 300px 300px 0 0;
    min-height: inherit;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5vmax;
    padding-bottom: 10vmax;
    
}

.projectCard{
    width: 80%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712);
    margin: 2vmax;
    border-radius: 10px;
    display: flex;
    transform: translateX(-100vw);
    
    animation: projectCardAnimation 1s ease-in-out forwards 0.5s;

}
.projectCard > div {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    justify-content: space-around;
  }

  .projectCard > div:first-child::after {
    content: "VIEW DEMO";
    width: 100%;
    height: 100%;
    font: 100 2rem "Roboto";
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: hsl(250, 100%, 75%);
    color: white;
  }
.projectCard:nth-child(even){
    transform: translate(100vw);
    flex-direction: row-reverse;
    animation: projectCardAnimation 1s ease-in-out forwards 1s;
}
.projectCard > div:first-child > img{
    width: inherit;

}
.projectCard > div:first-child :hover {
    filter: hue-rotate(150deg) blur(4px);
    
}



.projectCard > div:last-child >h6{
    font-family: "Ubuntu Mono";
    font-weight: bold;
    color: black;
    margin: "5px"
}


@keyframes projectCardAnimation {
    to{
        transform: translate(0);
    }
}

@media screen and (max-width:600px) {
    .projectCard{
        flex-direction: column;
    }
    .projectCard:nth-child(even){
        flex-direction: column;
    }
    .projectCard > div{
        justify-content: center;
        
    }
    .projectCard >div:last-child >p{
        text-align: center;
    }

    .projects > h3 {
        left:22%
    } 
    
}

@media screen and (max-width:420px) {
    .projectCard{
        flex-direction: column;
    }
    .projectCard:nth-child(even){
        flex-direction: column;
    }
    .projectCard > div{
        justify-content: center;
        
    }
    .projectCard >div:last-child > p{
        text-align: center;
    }
    .projectCard >div:first-child > p{
        text-align: center;
    } 
    .projects > h3 {
        margin-top: 30px;
        left:13%
    }
    .projects > h4 {
        left:3%;
    } 
     

}